<div class="row justify-content-center">
  <div class="col-md-6">
    <nb-card class="contact-card">
      <nb-card-body class="contact-section">
        <div class="row align-items-center">
          <div class="col-md-6">
            <form
              class="d-flex flex-column"
              #f="ngForm"
              (ngSubmit)="onSubmit(f)"
            >
              <input
                type="text"
                nbInput
                shape="round"
                id="firstName"
                placeholder="First Name"
                class="mb-3"
                ngModel
                name="firstName"
                #firstName="ngModel"
                required
              />
              <input
                type="text"
                nbInput
                shape="round"
                id="lastName"
                placeholder="Last Name"
                class="mb-3"
                ngModel
                name="lastName"
                #lastName="ngModel"
              />
              <input
                type="tel"
                nbInput
                shape="round"
                id="phoneNumber"
                class="mb-3"
                name="phoneNumber"
                placeholder="Phone Number"
                ngModel
                #phoneNumber="ngModel"
              />
              <nb-radio-group
                status="warning"
                class="d-flex"
                ngModel
                name="phoneType"
              >
                <nb-radio value="Cell">Cell</nb-radio>
                <nb-radio value="Landline">Landline</nb-radio>
              </nb-radio-group>
              <nb-select
                ngModel
                name="ageGroup"
                placeholder="Age Group"
                class="mb-3"
              >
                <nb-option [value]="'10 - 17'">10-17</nb-option>
                <nb-option [value]="'18 - 24'">18-24</nb-option>
                <nb-option [value]="'25 - 40'">25-40</nb-option>
                <nb-option [value]="'41 - 55'">41-55</nb-option>
                <nb-option [value]="'55+'">55+</nb-option>
              </nb-select>
              <textarea
                type="text"
                nbInput
                shape="round"
                id="message"
                placeholder="Message"
                class="mb-3"
                ngModel
                name="message"
                #message="ngModel"
              ></textarea>
              <button
                nbButton
                shape="round"
                routerLink="/contact"
                routerLinkActive="active"
                status="warning"
                class="w-50"
                type="submit"
              >
                Submit
              </button>
            </form>
          </div>
          <div class="col-md-6">
            <img class="w-75" src="../../assets/contact-image.png" alt="" />
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <nb-card class="contact-card">
      <nb-card-header>
        <h2 class="text-center list-section-header">Contacts</h2>
      </nb-card-header>
      <nb-card-body class="contact-section">
        <ul>
          <li *ngFor="let contact of contactList">
            <app-contact-card [model]="contact"></app-contact-card>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
