a {
  text-decoration: none;
}

nb-layout-column {
  background-image: url("../assets/concrete.png");
  background-color: black;
  background-repeat: repeat;
}

nb-layout-header {
  background-image: url("../assets/concrete.png");
  background-position: center;
}
