<div class="card bg-dark work-card mb-5">
  <img
    src="https://mdbootstrap.com/img/new/slides/017.webp"
    class="card-img"
    alt="..."
  />
  <div class="card-img-overlay radius">
    <div class="row h-100">
      <div class="col-6 h-100 order-{{ model.order === 1 ? '1' : '2' }}">
        <div
          class="card p-5 h-100 d-flex flex-column align-items-center justify-content-center"
        >
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <h2 class="text-black">{{model.name}}</h2>
            <p class="text-black">{{model.description}}</p>
            <div class="row">
              <div class="col-6">
                <a
                  href={{model.liveLink}}
                  target="_blank"
                  nbButton
                  shape="round"
                  status="warning"
                >
                  View Live Site
                </a>
              </div>
              <div class="col-6">
                <a
                  href={{model.githubLink}}
                  target="_blank"
                  nbButton
                  shape="round"
                  status="warning"
                >
                  View GitHub
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 h-100 order-{{ model.order === 1 ? '2' : '1' }}"></div>
    </div>
  </div>
</div>
