<div class="mb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 d-flex justify-content-center">
      <img src="../../assets/Frame 3351.png" class="w-75" alt="Dakota" />
    </div>
    <div class="col-md-4 mb-3">
      <h1 class="welcome-text">
        Hello, <br />
        I'm Dakota!
      </h1>
      <p>
        I am a web developer, music producer, adventurer, and so much more! I
        have a creative spirit that I try to utilize in everything I do, whether
        it's designing a website, making a song, or even cleaning my house. I
        have a strong work ethic, which means I don't stop a project until I'm
        proud of the result. If you want to check out some of my work or get in
        contact with me, go to the contact section and reach out to me!
      </p>
      <div class="d-flex justify-content-center">
        <a
          nbButton
          shape="round"
          outline
          routerLink="/contact"
          routerLinkActive="active"
          status="warning"
          >Contact Me</a
        >
      </div>
    </div>
  </div>
</div>
<app-section-header [title]="'Work'"></app-section-header>
<div class="row align-items-center justify-content-center">
  <div class="col-8">
    <app-work></app-work>
  </div>
</div>
<contact></contact>
